<app-navbar></app-navbar>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <section class="mt-4">

          <div class="container">

            <div class="row">

              <div class="col-lg-12 mt-4">

                <div class="card text-black mt-3" style="border-radius: 25px;">

                  <div class="card-body">

                    <div class="row justify-content-center">

                      <div class="col-lg-8">
                        <p class="text-center h2">Sign Up</p>

                        <form class="mx-1 mx-md-4">

                            <div class="d-flex flex-row align-items-center mb-2">
                              <i class="fas fa-user fa-lg me-3 mb-1 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="text" id="" class="form-control" />
                                <label class="form-label" for="">Your Name</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-2">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="email" id="" class="form-control" />
                                <label class="form-label" for="">Your Email</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-2">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="password" id="" class="form-control" />
                                <label class="form-label" for="">Password</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-2">
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="password" id="" class="form-control" />
                                <label class="form-label" for="">Repeat your password</label>
                              </div>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-2">
                              <input class="form-check-input me-2" type="checkbox" value="" id="" />
                              <label class="form-check-label" for="">
                                I agree all statements in <a href="#!">Terms of service</a>
                              </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-3">
                              <button type="button" class="btn btn-primary btn-lg">Register</button>
                            </div>

                          </form>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <section class="mt-4">

          <div class="container">

            <div class="row">

              <div class="col-lg-12 mt-4">

                <div class="card text-black mt-3" style="border-radius: 25px; filter: blur(0.3px);">

                  <div class="card-body">

                    <div class="row justify-content-center">

                      <div class="col-lg-8">
                        <p class="text-center h2 mb-3">Sign In</p>

                        <form class="mx-1 mx-md-4">

                            <div class="d-flex flex-row align-items-center mb-3">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="email" id="" class="form-control" />
                                <label class="form-label" for="">Your Email</label>
                              </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-3">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="password" id="" class="form-control" />
                                <label class="form-label" for="">Password</label>
                              </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
                              <button type="button" class="btn btn-primary btn-lg">Login</button>
                            </div>

                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row">

    <div id="container" class="container-fluid">

      <div class="row">

        <div class="overflow-hidden">
          <h1 class="header drop-in">Place Name</h1>
         </div>
         <div class="overflow-hidden">
          <p class="drop-in-2">
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit dicta error quidem labore officia, in cumque nam ipsa, veritatis, provident quisquam minus qui ullam fuga quas dolores aut? Nesciunt.
          </p>
        </div>

      </div>
    </div>

    <div class="container-fluid" style="height: 100vh;">

      <div class="row">

        <div class="card mt-4" style=" display: grid; justify-content: center; border: none;">

          <div class="card-body">

            <img src="/assets/images/18055241_74gn_9qx5_210621.jpg" height="600px" width="600px" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="background-color: black;">

      <div class="row" style="display: grid; height: 400px; align-items: center;">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mt-4">
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row mt-4">
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row mt-4">
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-3" style="max-width: 540px; margin-left: 12%;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRICZWmhAikTyKSYnPgrD6bd5ZQ7kiiW-os3_y8jAHo6A&usqp=CAU&ec=48600112" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>

    <div class="container-fluid">

      <div class="row">

        <footer class="text-center text-lg-start bg-light text-muted">
          <!-- Section: Social media -->
          <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
              <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <!-- Right -->
          </section>
          <!-- Section: Social media -->

          <!-- Section: Links  -->
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Company name
                  </h6>
                  <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit.
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Products
                  </h6>
                  <p>
                    <a href="#!" class="text-reset">Angular</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">React</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Vue</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Laravel</a>
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Useful links
                  </h6>
                  <p>
                    <a href="#!" class="text-reset">Pricing</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Settings</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Orders</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Help</a>
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    info@example.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->

          <!-- Copyright -->
          <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
          <!-- Copyright -->
        </footer>

      </div>
    </div>

  </div>
</div>


