<div class="container-fluid">

  <div class="row">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: end;">

      <h1 style="font-family: 'Josefin Sans', sans-serif;">Categories</h1>

    </div>

  </div>

</div>
<div class="media-scroller snaps-inline mt-5">
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="media-element">
      <img src="https://img.freepik.com/free-vector/happy-family-travelling-by-car-with-camping-equipment-top_74855-10751.jpg" alt="">
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

