<!-- <ul class="nav justify-content-end fixed-top">
  <li class="nav-item">
      <span>
      <nav class="navbar bg-secondry fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img rounded src="assets\images\Screenshot-2023-03-27-at-9-08-43-PM.png" height="60" width="60"/></a>
            <ul id="tab" class="nav justify-content-end">
                <li class="nav-item mt-2 mx-3">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search Place" aria-label="Search">
                    <a routerLink="/specificPlace"><button class="btn btn-outline-success" type="submit">Search</button></a>
                  </form>
                </li>
                <li class="nav-item mb-3">
                  <span class="nav-link"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal2">Login</button></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button></span>
                </li>
            </ul>
            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img rounded src="\assets\images\Screenshot-2023-03-27-at-9-08-43-PM.png" height="60" width="60"/></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </span>
  </li>

</ul>
 -->




 <header class="primary-header flexClass">

  <div>
    <img class="logo" rounded src="assets/images/Screenshot 2023-03-27 at 9.08.43 PM.png" alt="">
  </div>

  <button class="mobile-nav-toggle"
   aria-controls="primary-navigation"
   aria-expanded="false" (click)="change()">
   <span class="sr-only">Menu</span>
  </button>

  <nav>

      <ul data-visible="false" id="primary-navigation" class="primary-navigation flexClass">
          <li><a href="#"><span aria-hidden="true"></span>Home</a></li>
          <li><a href="#"><span aria-hidden="true"></span>Category</a></li>
          <li><span class="nav-link"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal2">Login</button></span></li>
          <li><span class="nav-link"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button></span></li>
      </ul>

  </nav>
</header>

