<!-- <div class="container-fluid">

  <div class="row"> -->

    <div id="container" class="container-fluid">

      <div class="row">

        <app-navbar></app-navbar>

        <div class="col-sm-12 col-md-12 col-lg-6">

          <!-- Model of Sign Up anf Sign In -->

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <section class="mt-4">

                    <div class="container">

                      <div class="row">

                        <div class="col-lg-12 mt-1">

                          <div class="card text-black mt-3" style="border-radius: 25px;">

                            <div class="card-body">

                              <div class="row justify-content-center">

                                <div class="col-lg-8">
                                  <p class="text-center h2">Sign Up</p>

                                  <form class="mx-1 mx-md-4">

                                      <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-user fa-lg me-3 mb-1 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="text" id="" class="form-control" />
                                          <label class="form-label" for="">Your Name</label>
                                        </div>
                                      </div>

                                      <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="email" id="" class="form-control" />
                                          <label class="form-label" for="">Your Email</label>
                                        </div>
                                      </div>

                                      <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="password" id="" class="form-control" />
                                          <label class="form-label" for="">Password</label>
                                        </div>
                                      </div>

                                      <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="password" id="" class="form-control" />
                                          <label class="form-label" for="">Repeat your password</label>
                                        </div>
                                      </div>

                                      <div class="form-check d-flex justify-content-center mb-2">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="" />
                                        <label class="form-check-label" for="">
                                          I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                      </div>

                                      <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-3">
                                        <button type="button" class="btn btn-primary btn-lg">Register</button>
                                      </div>

                                    </form>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <section class="mt-4">

                    <div class="container">

                      <div class="row">

                        <div class="col-lg-12 mt-1">

                          <div class="card text-black mt-3" style="border-radius: 25px;">

                            <div class="card-body">

                              <div class="row justify-content-center">

                                <div class="col-lg-8">
                                  <p class="text-center h2 mb-3">Sign In</p>

                                  <form class="mx-1 mx-md-4">

                                      <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="email" id="" class="form-control" />
                                          <label class="form-label" for="">Your Email</label>
                                        </div>
                                      </div>

                                      <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                          <input type="password" id="" class="form-control" />
                                          <label class="form-label" for="">Password</label>
                                        </div>
                                      </div>

                                      <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
                                        <button type="button" class="btn btn-primary btn-lg">Login</button>
                                      </div>

                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">

          <section class="mt-4">

            <div id="box" class="text-center">

              <h4 class="d-grid align-items-center" style="color: white;">Let’s plan the trip of your dreams. Meet the world. Great Faces Great Places</h4>

              <a routerLink="/planForm"><button type="button" class="btn btn-dark btn-lg rounded-pill">Plan Trip</button></a>

              <!-- <a href="#"><button type="button" class="btn btn-primary w-150 mx-4">Plan Trip</button></a> -->

            </div>

            <!-- <button type="button" class="btn btn-dark mt-3">Plan Trip</button> -->

          </section>


          <!-- <section class="mt-4">

            <div class="container">

              <div class="row">

                <div class="col-lg-12 mt-4">

                  <div class="card text-black mt-3" style="border-radius: 25px;">

                    <div class="card-body">

                      <div class="row justify-content-center">

                        <div class="col-lg-8">
                          <p class="text-center h2">Sign Up</p>

                          <form class="mx-1 mx-md-4">

                              <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="" class="form-control" />
                                  <label class="form-label" for="">Your Name</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="email" id="" class="form-control" />
                                  <label class="form-label" for="">Your Email</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="" class="form-control" />
                                  <label class="form-label" for="">Password</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-2">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="" class="form-control" />
                                  <label class="form-label" for="">Repeat your password</label>
                                </div>
                              </div>

                              <div class="form-check d-flex justify-content-center mb-2">
                                <input class="form-check-input me-2" type="checkbox" value="" id="" />
                                <label class="form-check-label" for="">
                                  I agree all statements in <a href="#!">Terms of service</a>
                                </label>
                              </div>

                              <div class="d-flex justify-content-center mx-4 mb-1 mb-lg-3">
                                <button type="button" class="btn btn-primary btn-lg">Register</button>
                              </div>

                            </form>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->


          <!-- <section class="mt-4">

            <div class="container">

              <div class="row">

                <div class="col-lg-12 mt-4">

                  <div class="card text-black mt-3" style="border-radius: 25px; filter: blur(0.3px);">

                    <div class="card-body">

                      <div class="row justify-content-center">

                        <div class="col-lg-8">
                          <p class="text-center h2 mb-3">Sign In</p>

                          <form class="mx-1 mx-md-4">

                              <div class="d-flex flex-row align-items-center mb-3">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="email" id="" class="form-control" />
                                  <label class="form-label" for="">Your Email</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-3">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="" class="form-control" />
                                  <label class="form-label" for="">Password</label>
                                </div>
                              </div>

                              <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
                                <button type="button" class="btn btn-primary btn-lg">Login</button>
                              </div>

                            </form>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> -->

            <!-- <section class="vh-100" style="background-color: #eee;">
              <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                      <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                          <div class="col-md-10 col-sm-12 col-md-12 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                            <form class="mx-1 mx-md-4">

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="form3Example1c" class="form-control" />
                                  <label class="form-label" for="form3Example1c">Your Name</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="email" id="form3Example3c" class="form-control" />
                                  <label class="form-label" for="form3Example3c">Your Email</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="form3Example4c" class="form-control" />
                                  <label class="form-label" for="form3Example4c">Password</label>
                                </div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="form3Example4cd" class="form-control" />
                                  <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                </div>
                              </div>

                              <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                <label class="form-check-label" for="form2Example3">
                                  I agree all statements in <a href="#!">Terms of service</a>
                                </label>
                              </div>

                              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" class="btn btn-primary btn-lg">Register</button>
                              </div>

                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->
        </div>

      </div>

    </div>

    <!-- <div class="container-fluid"> -->

    <app-live-places></app-live-places>
    <!-- </div> -->

    <!-- <div class="container-fluid">

      <div class="row" style="background-color: #f8f9fa; overflow: hidden; overflow-x: scroll;">

        <div class="col-sm-12 col-md-6 col-lg-4">

          <div id="card" class="card mt-4 mb-4">

            <div class="card-body">

              <h4 style="color: white;">Adventure</h4>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aperiam sed et nesciunt explicabo alias aliquid perspiciatis magni laboriosam, maxime dignissimos.</p>

              <a routerLink="specificPlace"><button class="btn btn-primary rounded-pill">Trips</button></a>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

          <div id="card" class="card mt-4 mb-4">

            <div class="card-body">

              <h4 style="color: white;">Religious Place</h4>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aperiam sed et nesciunt explicabo alias aliquid perspiciatis magni laboriosam, maxime dignissimos.</p>

              <a routerLink="specificPlace"><button class="btn btn-primary rounded-pill">Trips</button></a>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

          <div id="card" class="card mt-4 mb-4">

            <div class="card-body">

              <h4 style="color: white;">Trekking</h4>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aperiam sed et nesciunt explicabo alias aliquid perspiciatis magni laboriosam, maxime dignissimos.</p>

              <a roterLink="specificPlace"><button class="btn btn-primary rounded-pill">Trips</button></a>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">

          <div id="card" class="card mt-4 mb-4">

            <div class="card-body">

              <h4 style="color: white;">Historical Place</h4>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aperiam sed et nesciunt explicabo alias aliquid perspiciatis magni laboriosam, maxime dignissimos.</p>

              <a routerLink="specificPlace"><button class="btn btn-primary rounded-pill">Trips</button></a>

            </div>

          </div>

        </div>

      </div>

    </div> -->

    <app-category></app-category>

    <app-customer-review></app-customer-review>


    <!-- Footer -->
    <app-footer></app-footer>
    <!-- Footer -->
  <!-- </div>
</div> -->


